<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poke.DAO.UserChallDAO">
	<select id="ReadUserChall" parameterType="String" resultType="UserChall">
		select id, check_chall, challenge_name, contents from user_chall u, challenge c where u.challenge_num = c.challenge_num and u.id=#{id}
	</select>
</mapper>