/* 여차하면 지우는 쪽 */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*커뮤니티*/
.co_container {
    width: 80%;
    height: auto;
    margin: 4% auto;
}

.search-field {
    display: flex;
    flex-grow: 1;
    position: relative;
}
.search-field input{
    width: 150%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: inset 1px gray;
    padding-left: 1.5rem;
}

.dropdown-field {
    position: relative;
    width : 20%;
    right : 10rem;
    top : 3.5rem
    
}
.dropdown-field select{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0;
    border-bottom: 1px solid var(--c-gray-600);
    background-color: transparent;
    padding-right: 1.5rem;
    width: 100%;
    
}
.wr_full {
    background-color: rgb(230, 230, 230);
    padding: 5%;
}
.wr_container {
    width: 1200px;
    height: auto;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
    border-radius: 10px;
}

.flat-button {
    border-radius: 6px;
    background-color: var(--c-gray-700);
    padding: 0.5em 1.5em;
    border: 0;
    color: var(--c-text-secondary);
    transition: 0.25s ease;
    cursor: pointer;
}

#co_table {
    text-align: center;

}

#co_write {
    width: 80px;
    height: 40px;
    background-color: #305c2a;
    color: white;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5%;
    text-align: center;
    padding: 8px;
    margin: 1.5rem auto;
}
